/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2017, 2:54:25 PM
    Author     : anthonydipilato
*/

.slider{
    -fx-pref-width:         400;
    -fx-show-tick-labels:   true;
    -fx-show-tick-marks:    true;
    -fx-major-tick-unit:    25;
    -fx-minor-tick-count:   5;	 
    -fx-show-tick-labels:   true;	 
    -fx-block-increment:    1;
}

.slider .track {
    -fx-pref-height:5;
    -fx-background-color: #0d4d73;
}

.slider:vertical .track {
    -fx-pref-width:5;
}

.slider .thumb {
    -fx-pref-height: 40;
    -fx-pref-width: 40;
    -fx-background-color: #60676b;
    -fx-border-radius: 10;
    -fx-border-color: #212324;
}

.slider .thumb:pressed {
    -fx-background-color: #303334;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark, .slider .axis-tick-labels{
    -fx-fill: null;
    -fx-stroke: #999999;
}

.tBtn {
    -fx-pref-width: 150px;
    -fx-background-color: #565b5e;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 14px;
    -fx-padding: 5 10 5 10;
}

.gaugeBox {
    -fx-pref-width: 300px;
}

.tBtn:selected {
    -fx-background-color: #303334;
    -fx-text-fill: #999999;
}

.tBtn:pressed{
    -fx-background-color: #303334;
    -fx-text-fill: #999999;
}

.setBtn {
    -fx-background-color: #565b5e;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

.setBtn:pressed{
    -fx-background-color: #303334;
    -fx-text-fill: #999999;
}


.slider-label {
  -fx-text-fill: #c7c7c7;
}


.proValve {
    -fx-pref-width: 150;
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-font-family: "Liquid Crystal";
    -fx-background-color: #565b5e;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-padding: 5 10 5 10;
    -fx-font-weight: bold;
}

.flameLabel {
    -fx-text-fill: #c7c7c7;
}

.flameOn {
    -fx-pref-width: 150;
    -fx-background-color: #565b5e;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: #5aba5d;
    -fx-font-weight: bold;
}

.flameOff {
    -fx-pref-width: 150;
    -fx-background-color: #565b5e;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: #e57373;
    -fx-font-weight: bold;
}